<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facedemo">

    <application>
        <activity android:name=".activity.FaceActivity" />
        <activity android:name=".activity.WrapperActivity" />
        <activity android:name=".activity.Face2Activity"></activity>
    </application>

</manifest>